/* -----header---------- */

.header {
  background: transparent;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__box-left {
  display: flex;
  gap: 20px;
}

.header__link {
  font-family: "Manrope";
  color: #fff;
}

.header__box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__box-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.header__text {
  font-family: "Manrope";
  color: #fff;
  cursor: pointer;
}

.header__text--active {
  border-bottom: 1px solid #fff;
}

.header__img {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* -----header---------- */

.main__section__hero-bg {
  background-image: url(../images/all-objects/image-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.hero-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(170deg, #818080, transparent, transparent, #000);
}

.hero__nav {
  padding-top: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__link {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  color: #e4ddddf0;
}

.hero__link-active {
  color: #ffffff;
}

.hero__box {
  margin-top: 160px;
}

.hero__title {
  width: 450px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 84px;
  color: #fff;
}

.hero__text {
  width: 470px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

.main__section__sale {
  padding: 100px 0 120px;
  background: #101010;
  overflow: hidden;
}

.sale__box {
  margin-bottom: 120px;
  display: flex;
  align-items: start;
}

.sale__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 84px;
  color: #fff;
}

.sale__text {
  padding-bottom: 5px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.sale__wrapper {
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* border: 1px solid red; */
}

.sale__btn-left,
.sale__btn-right {
  cursor: pointer;
  border: none;
  background: transparent;
}

.sale__item1 {
  width: 600px;
  height: 500px;
  background-image: url(../images/all-objects/image-1.jpg);
  position: absolute;
  left: -700px;
}

.sale__item2 {
  width: 700px;
  height: 650px;
  /* position: relative; */
  background-image: url(../images/all-objects/image-2.jpg);
}

.sale__item3 {
  width: 600px;
  height: 500px;
  background-image: url(../images/all-objects/image-3.jpg);
  position: absolute;
  right: -700px;
}

.sale__item4 {
  width: 700px;
  height: 650px;
  background-image: url(../images/all-objects/image-4.jpg);
  position: absolute;
  left: -800px;
}

.sale__item5 {
  width: 600px;
  height: 500px;
  background-image: url(../images/all-objects/image-1.jpg);
}

.sale__item6 {
  width: 700px;
  height: 650px;
  background-image: url(../images/all-objects/image-2.jpg);
  position: absolute;
  right: -800px;
}

.sale__item {
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sale__item__box1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sale__link {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.sale__item__box2 {
  display: flex;
  gap: 25px;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.sale__btn {
  padding: 8px 13px;
  border-radius: 8px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  border: none;
  background: #fff9ec;
  color: #be7e00;
}
.sale__item__title {
  width: 300px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.sale__item__text {
  width: 340px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 11px;
  color: #fff;
}

.main__section__sale2 {
  padding: 100px 0 50px;
  background: #151515;
  overflow: hidden;
}

.sale__box2 {
  margin-top: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sale__left-box,
.sale__right-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sale__link2 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  /* line-height: 10px; */
}

.sale__icon2 {
  height: 20px;
  transform: rotate(180deg);
}

.sale__icon3 {
  height: 20px;
}

.footer {
  background: #000;
}

.footer-bg {
  padding: 120px 0 160px;
  background-image: url(../images/all-objects/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer .container {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr;
  /* column-gap: 20px; */
}

.footer__wrapper{
  padding-right: 50px;
}

.footer__title {
  margin-bottom: 20px;
  color: #fff;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 15px;
}

.footer__form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-end;
}

.footer__input {
  width: 100%;
  height: 25px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffffbc;
}

.footer__input::placeholder {
  font-family: "Manrope";
  font-weight: 300;
  font-size: 15px;
}

.footer__input:focus {
  border-color: #fff;
}

.footer__btn {
  margin-top: 20px;
  padding-bottom: 5px;
  background: transparent;
  border: none;
  color: #fff;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 15px;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.footer__nav {
  padding: 150px 0 15px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.footer__box-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* .footer__box-right{
  display: flex;
  justify-content: flex-end;
} */

.footer__box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__text {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 15;
  color: #fff;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__link {
  font-family: "Manrope";
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.footer__link2 {
  font-family: "Manrope";
  font-weight: 300;
  font-size: 15px;
  color: #ffffffc8;
}

/* .footer__link3{
  padding-top: 500px;
}  */

@media (max-width: 1050px){
  .header__link{
    display: none;
  }
  .header__link--active{
    display: inline-block;
  }

  .footer .container{
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__wrapper{
    padding: 0;
  }
  .footer__form-group{
    width: 450px;
    margin: 0 auto; 
  }
  .footer__nav{
    width: 450px;
    margin: 0 auto;
  }
  .footer__box--center{
    margin: 0 auto;
    width: 450px;
  }
  .footer__list{
    margin-top: 50px;
  }
  .footer__item{
    margin: 0 auto;
  }

}

@media (max-width: 550px){
  .header__line{
    display: none;
  }
  .header__box-left{
    gap: 15px;
  }
  .header__box-right{
    gap: 10px;
  }
  .header__img{
    width: auto;
  }
  .hero__title{
    font-size: 50px;
  }
  .hero__text{
    width: 300px;
  }
  .footer .container{
    padding: 0;
  }
  .footer__form-group{
    width: 300px;
  }
  .footer__nav{
    width: 300px;
  }
  .footer__box--center{
    width: 300px; 
  }
}
