@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:wght@400..900&display=swap");

.footer {
  background: #000;
}

.footer-bg {
  padding: 120px 0 160px;
  background-image: url(../images/all-objects/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer .container {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr;
  /* column-gap: 20px; */
}

.footer__wrapper {
  padding-right: 50px;
}

.footer__title {
  margin-bottom: 20px;
  color: #fff;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 15px;
}

.footer__form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-end;
}

.footer__input {
  width: 100%;
  height: 25px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffffbc;
}

.footer__input::placeholder {
  font-family: "Manrope";
  font-weight: 300;
  font-size: 15px;
}

.footer__input:focus {
  border-color: #fff;
}

.footer__btn {
  margin-top: 20px;
  padding-bottom: 5px;
  background: transparent;
  border: none;
  color: #fff;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 15px;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.footer__nav {
  padding: 150px 0 15px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.footer__box-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* .footer__box-right{
  display: flex;
  justify-content: flex-end;
} */

.footer__box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__text {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 15;
  color: #fff;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__link {
  font-family: "Manrope";
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.footer__link2 {
  font-family: "Manrope";
  font-weight: 300;
  font-size: 15px;
  color: #ffffffc8;
}

@media (max-width: 1050px) {
  .footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__wrapper {
    padding: 0;
  }
  .footer__form-group {
    width: 450px;
    margin: 0 auto;
  }
  .footer__nav {
    width: 450px;
    margin: 0 auto;
  }
  .footer__box--center {
    margin: 0 auto;
    width: 450px;
  }
  .footer__list {
    margin-top: 50px;
  }
  .footer__item {
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .footer__form-group {
    width: 300px;
  }
  .footer__nav {
    width: 300px;
  }
  .footer__box--center {
    width: 300px;
  }
  .footer .container {
    padding: 0;
  }
}
