* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  max-width: 1240px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.hero {
  height: 918px;
  background-image: url("../images/hero__image.png");
  position: relative;
  background-size: cover;
  background-position: center;
}
.text {
  padding-top: 140px;
  color: white;
  display: flex;
  flex-direction: column;
}
.hero__title {
  width: 646px;
  height: 304px;
  opacity: 1;
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 84.96px;
  line-height: 90%;
  letter-spacing: -2%;
  color: rgba(255, 255, 255, 1);
}
.hero__text {
  margin-top: 30px;
  width: 518px;
  height: 48px;
  opacity: 1;
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
.hero__description {
  width: 452px;
  height: 192px;
  opacity: 1;
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  width: 169px;
  height: 57px;
  opacity: 1;
  border-radius: 7px;
  background: rgba(255, 249, 236, 1);
}
.hero__link span {
  width: 121px;
  height: 24px;
  opacity: 1;
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0%;
  color: rgba(190, 126, 0, 1);
}
.second__section {
  color: white;
  background: rgba(21, 21, 21, 1);
}
.stat__card {
  background: rgba(255, 251, 242, 1);
  margin: 0px 10px;
  height: 301px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 5;
  margin-top: -60px;
}
.left__side {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.left__side--name {
  font-family: "Playfair Display" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 84.96px;
  line-height: 90%;
  letter-spacing: -2%;
  color: rgba(46, 46, 46, 1);
  margin-left: 20px;
}
.left__side-description {
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(46, 46, 46, 1);
  margin-left: -40px;
}
.right__side {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stats {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.number {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 84.96px;
  line-height: 90%;
  letter-spacing: -2%;
  color: rgba(46, 46, 46, 1);
}
.stat__description {
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(46, 46, 46, 1);
}
.manage {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}
.manage__text {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.manage__title {
  width: 682px;
  height: 152px;
  opacity: 1;
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 84.96px;
  line-height: 90%;
  letter-spacing: -2%;
  color: rgba(255, 255, 255, 1);
}
.texts1 {
  display: flex;
  align-items: center;
  opacity: 1;
  gap: 10px;
}
.text1 {
  border-radius: 8px;
  padding-top: 6px;
  padding-right: 11px;
  padding-bottom: 6px;
  padding-left: 11px;
  color: rgba(190, 126, 0, 1);
  background-color: rgba(255, 249, 236, 1);
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 151%;
  letter-spacing: 0%;
}
.text2 {
  border-radius: 8px;
  padding-top: 6px;
  padding-right: 11px;
  padding-bottom: 6px;
  padding-left: 11px;
  color: rgba(190, 126, 0, 1);
  background-color: rgba(255, 249, 236, 1);
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 151%;
  letter-spacing: 0%;
}
.texts2 {
  display: flex;
  align-items: center;
  opacity: 1;
  gap: 10px;
}
.text3 {
  border-radius: 8px;
  padding-top: 6px;
  padding-right: 11px;
  padding-bottom: 6px;
  padding-left: 11px;
  color: rgba(190, 126, 0, 1);
  background-color: rgba(255, 249, 236, 1);
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 151%;
  letter-spacing: 0%;
}
.text4 {
  border-radius: 8px;
  padding-top: 6px;
  padding-right: 11px;
  padding-bottom: 6px;
  padding-left: 11px;
  color: rgba(190, 126, 0, 1);
  background-color: rgba(255, 249, 236, 1);
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 151%;
  letter-spacing: 0%;
}
.manage__tekst {
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 20px;
}
.manage__description {
  width: 473px;
  height: 72px;
  opacity: 1;
  top: 1807px;
  left: 125px;

  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0%;
  margin-top: 20px;
}
.manage__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212px;
  height: 57px;
  margin-top: 20px;
  opacity: 1;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.07);
}
.manage__link span {
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
.manage__image img {
  width: 449px;
  height: 615px;
  opacity: 1;
}
.form__section {
  border: 1px solid #000;
  background-image: url("../images/form__image.png");
  background-size: cover;
  background-position: center;
}
.form__container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 150px 0px;
}
.form__text {
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.form__title {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 84.96px;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: center;
  width: 765px;
  height: 152px;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}
.form {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.form__input {
  width: 429px;
  height: 54px;
  opacity: 0.12;
  border-radius: 13px;
  border-width: 1px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 20px;
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8);
}
.form__textarea {
  width: 429px;
  height: 114px;
  opacity: 0.16;
  border-radius: 13px;
  border-width: 1px;
  padding-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8);
}
.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service__text {
  width: 233px;
  height: 57px;
  opacity: 1;
  font-family: "Manrope" sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #000;
}
.service__checkbox {
  width: 18px;
  height: 18px;
  opacity: 1;
  border-radius: 6px;
  border-width: 1px;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  background-color: rgba(0, 0, 0, 0.6);
}
.form__button {
  cursor: pointer;
  width: 150px;
  height: 54px;
  opacity: 0.12;
  border-radius: 13px;
  border-width: 1px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.form__button span {
  font-family: "Manrope" sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  color: #000;
}
.form__input:focus {
  color: #000;
}
@media (max-width: 780px) {
  .hero {
    width: 100%;
    height: auto;
    padding: 20px 0px;
    background-size: cover;
    background-position: center;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
  }
  .hero__title {
    width: 400px;
    height: 150px;
    font-size: 48px;
  }
  .hero__text {
    font-size: 20px;
  }
  .hero__description {
    font-size: 16px;
  }
  .stat__card {
    display: flex;
    flex-direction: column;
    gap: 10px;  
  }
  .left__side {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .left__side--name {
    font-size: 60px;
  }
  .left__side--name img{
    width: 70px;
    height: 70px;
  }
  .left__side-description {
    font-size: 20px;
  }
  .right__side {
    display: flex;
    align-items: center;
  }
  .manage {
  }
  .manage__text {
  }
  .manage__title {
  }
  .texts1 {
  }
  .text1 {
  }
  .text2 {
  }
  .texts2 {
  }
  .text3 {
  }
  .text4 {
  }
  .manage__tekst {
  }
  .manage__description {
  }
  .manage__link {
  }
  .manage__image {
  }
  .img {
  }
}
