<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <footer class="footer">
        <div class="footer-bg">
            <div class="container">
                <div class="footer__wrapper">
                    <div class="footer__form-group">
                        <h2 class="footer__title">Перезвоните мне</h2>
                        <form action="#" class="footer__form">
                            <input type="text" placeholder="Имя" class="footer__input">
                            <input type="text" placeholder="Телефон" class="footer__input">
                            <input type="text" placeholder="Email" class="footer__input">
                            <button type="submit" class="footer__btn">Отправить запрос</button>
                        </form>
                    </div>
                    <div class="footer__nav">
                        <div class="footer__box-left">
                            <div class="footer__box">
                                <img src="../images/all-objects/footer-icon-1.svg" alt="" class="footer__icon">
                                <p class="footer__text">+33 4 93 16 06 31</p>
                            </div>
                            <div class="footer__box">
                                <img src="../images/all-objects/footer-icon-2.svg" alt="" class="footer__icon">
                                <p class="footer__text">contact@azur-life.com</p>
                            </div>
                        </div>
                        <div class="footer__box-right">
                            <img src="../images/all-objects/footer-icon-4.svg" alt="" class="footer__icon">
                            <img src="../images/all-objects/footer-icon-5.svg" alt="" class="footer__icon">
                        </div>
                    </div>
                    <div class="footer__box footer__box--center">
                        <img src="../images/all-objects/footer-icon-3.svg" alt="" class="footer__icon">
                        <p class="footer__text">
                            Франция, бульвар Леклерк, 46, 06310, Болье-сюр-Мер
                        </p>
                    </div>
                </div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Навигация</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">О нас </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Все объекты</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Продажа</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Аренда</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Купить, продать, арендовать с нами</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Презентация</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Экспертная оценка</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Управление недвижимостью</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Консьерж-сервис</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Наша комиссия</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Политика конфиденциальности</a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link2">Регионы</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link2">Апартаменты в Больё-сюр-Мер</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link2">Вилла в Больё-сюр-Мер</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link2">Вилла в Эзе</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link2">Вилла в Сен-Жан-Кап-Ферра</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link2">Апартаменты в Эзе</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link2">Апартаменты в Сен-Жан-Кап-Ферра</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link2 footer__link3">Design by IDEAS.AGENCY</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>
</html>