<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <ul class="header--list">
          <li class="header--list-item">
            <a href="#" class="hesder--logo-href">
              <div class="header--logo">
                <img
                  src="/images/header/logo.png"
                  alt="logo"
                  class="header--logo-img"
                />
              </div>
              <h2 class="header--logo-title">Azur Life</h2>
            </a>
          </li>

          <li class="header--list-item">
            <a href="#" class="header--local-href">
              <div class="header--logo">
                <img
                  src="/images/header/logo.png"
                  alt="logo"
                  class="header--logo-img"
                />
              </div>
              Франция, бульвар Леклерк, 46, 06310, Болье-сюр-Мер
            </a>
          </li>

          <li class="header--list-item">
            <a href="#" class="header--contact">
              <div class="header--logo">
                <img
                  src="/images/header/logo.png"
                  alt="logo"
                  class="header--logo-img"
                />
              </div>
              +33 4 93 16 06 31
            </a>
          </li>
        </ul>

        <ul class="header--location">
          <li class="header--location-item">
            <p class="header--location-text">en</p>
          </li>

          <li class="header--location-item">
            <p class="header--location-text">fr</p>
          </li>

          <li class="header--location-item">
            <p class="header--location-text">ru</p>
          </li>

          <li class="header--location-item">
            <p class="header--location-text">it</p>
          </li>

          <li class="header--location-menu">
            <button class="header--location-show">
              <img src="" alt="menu icon" class="header--location-menuIcon" />
            </button>
          </li>
        </ul>
      </div>
    </header>
  </body>
</html>
