<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <header>
      <div class="container">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est repellat
        molestiae sint voluptas similique rerum! Sint nemo inventore expedita
        perferendis assumenda iure commodi eius facere, id ducimus dicta fugit
        incidunt qui delectus quidem temporibus, nulla et optio vero quaerat
        aliquam fuga porro pariatur atque. Suscipit dignissimos nihil debitis
        rerum fugiat inventore at ducimus placeat illum maiores maxime vero
        quibusdam quam eveniet dolorem adipisci, ullam quos tempora distinctio
        amet illo asperiores? Sed perspiciatis iusto eum dolor nulla
        voluptatibus quos soluta tempora molestias nobis quis delectus vitae,
        voluptates sunt iste veritatis consequatur omnis totam, similique
        blanditiis exercitationem assumenda dignissimos atque distinctio!
        Facere?
      </div>
    </header>
  </body>
</html>
