<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
   <header class="header">
        <div class="container">
            <div class="header__box-left">
                <div class="header__box">
                    <img src="../images/all-objects/header-logo.svg" alt="" class="header__logo">
                    <a href="../index.html" class="header__link header__link--active">Azur Life</a>
                </div>
                <hr class="header__line">
                <div class="header__box">
                    <img src="../images/all-objects/header-icon-1.svg" alt="" class="header__icon">
                    <a href="#" class="header__link">
                        Франция, бульвар Леклерк, 46, 06310, Болье-сюр-Мер
                    </a>
                </div>
                <hr class="header__line">
                <div class="header__box">
                    <img src="../images/all-objects/header-icon-2.svg" alt="" class="header__icon">
                    <a href="#" class="header__link">+33 4 93 16 06 31</a>
                </div>
            </div>
            <div class="header__box-right">
                <p class="header__text header__text--active">en</p>
                <p class="header__text">fr</p>
                <p class="header__text">ru</p>
                <p class="header__text">it</p>
                <div class="header__img">
                    <img src="../images/all-objects/header-icon-3.svg" alt="" class="header__icon">
                </div>
            </div>
        </div>
    </header>
  </body>
</html>
